# Puerto serie de la balanza
SERIAL_PORT=/dev/ttyUSB0
SERIAL_BAUD_RATE=9600

# URL del backend (ej: http://tu-ip-local:3000)
SERVER_URL=http://192.168.1.23:3000

# ID de la linea de produccion donde esta instalada esta Raspberry
LINEA_PRODUCCION_ID=1

# Secreto para autenticar la Raspberry contra el backend
DEVICE_SECRET=my-super-secret-device-key
